.releases-Section{
    display: flex;
    flex-direction: column;
    background-color: #95d5b2;
    align-items: center;
    font-size: 140%;
}

.title{
    text-decoration: underline;
    margin-top: 20px;
    margin: 20px 0px 20px 0px;
}

