.Destaques {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color:  #b7e4c7;
    margin: -5px 0;
    font-size: 140%;
}


.title {
    text-decoration: underline;
    margin: 20px 0px 0px 0px;
}

.cards {
    display: flex;
    flex-direction: row;
    margin: -15px 0px 0px 0px;
    align-items:center;
}

.button-load-more {
    margin: 80px 0px 40px 0px;
    border-radius: 5px;
}
.css-9425fu-MuiOutlinedInput-notchedOutline{
    border-color: #212121  !important;
}

